<!-- Dynamically fill in h3 header, th's, and td's -->

<div class="row">
  <h3><%= titles %></h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <% headers.each do |h| %>
        <th><%=h%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% data.each do |key, val| %>
      <tr>
        <td><%= key %></td>
        <td><%= val %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
