<div class="container">
  <div class="row" id="header">
    <div class="col-xs-12">
      <h1>Viking Analytics Dashboard</h1>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>1. Overall Platform</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>2. User Demographics and Behavior</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>3. Order Statistics</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>4. Time Series Data</h2>
        </div>
      </div>
    </div>
  </div>
</div>